<!-- this load a the css file -->
{% load staticfiles %}
<!-- making this a html page -->
<html>
    <!-- Header for the page -->
    <head>
      <!-- bootstrap links for formating -->
      <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">
      <title>Django Girls blog</title>
    </head>
    <!-- the body of the page -->
    <body>
      <!-- div classe for page header -->
      <div class="page-header">
        <!-- this checks user -->
        {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
       <h1><a href="/">Django Girls Blog</a></h1>
   </div>
   <!-- making a container -->
     <div class="content container">
       <!-- making a row -->
         <div class="row">
           <!-- making a column -->
             <div class="col-md-8">
               <!-- this is where block content goes -->
             {% block content %}
             {% endblock %}
             </div>
         </div>
     </div>
    </body>
</html>
